<?xml	version="1.0"	encoding="UTF-8"?>
<widget	xmlns="http://www.w3.org/ns/widgets"
           xmlns:gap="http://phonegap.com/ns/1.0"
           id="io.github.uziel79.cenourapp"
           version="1.0.0">
    <name>
        Só	de	Cenoura
    </name>
    <description>
        Menu	do	restaurante	Só	de	Cenoura.
    </description>
    <author	href="http://uziel79.github.io"
               email="thiago.vieira@gmx.com">
        Thiago Vieira
    </author>
    <preference	name="orientation" value="portrait"	/>
    <preference	name="fullscreen" value="true"	/>
    <preference	name="permissions" value="none"	/>
    <preference	name="android-minSdkVersion" value="16"	/>
    <platform	name="android"	/>
</widget>